.select {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  cursor: pointer;
  padding: 3px 10px;
  width: 130px;
  border-radius: 3px;
  color: white;
  background: #252734;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

  &__selected {
    width: 100%;
  }
}

.modal {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 100%;
  border-radius: 3px;
  background: #2f3044;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s linear;
}
.type {
  padding: 3px 10px;

  &:hover {
    background: #252734;
    transition: all 0.2s linear;
  }
  &--active {
    background: #252734;
  }
}

.modal--disable {
  display: none;
}

.arrow {
  transition: transform 0.2s linear;
}

.arrow--rotate {
  transition: transform 0.2s linear;
  transform: rotate(180deg);
}
